<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>
    <semantic-link uri='http://www.researchspace.org/resource/FieldCatalog'>
      Field Definition Catalog
    </semantic-link>
  </li>
  <li class="active">
    New Field
  </li>
</ol>

[[#if (hasPermission "api:config")]]

[[!-- [[>rsp:ClipboardSidebar]] --]]
[[#>rsp:ClipboardSidebar]]
<div class="rs-page style--base">
  <div class="container-fluid">

    <div class="rs-page__top--system">
      <bs-row>
        <bs-col sm="6">
          <h2>New Field</h2>
        </bs-col>
      </bs-row>
    </div><!--top-->

    <bs-row class="style--main style--border-top">
      <bs-col sm=8 style="margin-left: 40px;">
        <div class="rs-page__main">
          <field-editor field-instance-base-iri="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/"></field-editor>
        </div>
      </bs-col>
    </bs-row>
  </div>
</div>
[[/rsp:ClipboardSidebar]]

[[else]]

<p>No Permission</p>

[[/if]]
