<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li class="active"><semantic-query data-query="[[>rsp:TrimmedTitleQuery]]"
                                     data-template='{{#each bindings}}{{trimmedLabel.value}}{{/each}}'></semantic-query>
  </li>
</ol>

[[!-- [[>rsp:ClipboardSidebar]] --]]
[[#>rsp:ClipboardSidebar]]
<div class="rs-page style--base">

  <div class="container-fluid">
    <div class="rs-page__top">
      <div class="row">
        [[>"rsp:GroupHeader"]]
      </div><!--row-->
    </div><!--top-->

    [[#if (urlParam "tab")]]
    <bs-tab-container class="rs-page__navtabs" default-active-key="[[urlParam 'tab']]">
      [[else]]
      <bs-tab-container class="rs-page__navtabs" default-active-key="summary">
        [[/if]]
        <bs-row>
          <bs-col>
            <bs-nav bs-style="tabs">
              <bs-nav-item class="[[>rsp:LayoutImageOffset]]" event-key="summary">
                Summary
              </bs-nav-item>
              <bs-nav-item event-key="annotations">
                Annotations <semantic-query data-query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
                                                        ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
                                                      }"
                data-template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query>
              </bs-nav-item>
              <bs-nav-item event-key="related">
                Explore Related
              </bs-nav-item>
            </bs-nav>

            <div class="rs-page__summary style--main">
              <bs-tab-content>
                <bs-tab-pane event-key="summary">
                  <div class="rs-page__tab-content--subtabs">
                    <div class="row">
                      [[>"rsp:GroupSummary"]]
                    </div><!--row-->
                  </div><!--tab-content-->
                </bs-tab-pane>

                <bs-tab-pane event-key="annotations">
                  <div class="rs-page__tab-content">
                    <div class="row">
                      [[>"rsp:EntityAnnotations"]]
                    </div><!--row-->
                  </div><!--tab-content-->
                </bs-tab-pane>

                <bs-tab-pane event-key="related">
                  <div class="rs-page__tab-content">
                    <div class="row">
                      [[>"rsp:GroupRelated"]]
                    </div><!--row-->
                  </div><!--tab-content-->
                </bs-tab-pane>
              </bs-tab-content>
            </div><!--summary-->
          </bs-col>
        </bs-row>
      </bs-tab-container>

  </div><!--container-fluid-->
</div><!--rs-page-->
[[/rsp:ClipboardSidebar]]
